In [10]:
# Sort list of dictionaries using itemgetter
lis = [{'name': 'Ana', 'age': 25, 'car': 'i10', 'married': False},
      {'name': 'Preeti', 'age': 23, 'car': 'maruti', 'married': True},
      {'name': 'Tinku', 'age': 22, 'car': 'alto', 'married': False},
      {'name': 'Pranav', 'age': 32, 'car': 'bmw', 'married': True}]

In [9]:
from operator import itemgetter
sorted(lis, key = itemgetter('name', 'age'), reverse = True)

[{'name': 'Tinku', 'age': 22, 'car': 'alto', 'married': False},
 {'name': 'Preeti', 'age': 23, 'car': 'maruti', 'married': True},
 {'name': 'Pranav', 'age': 32, 'car': 'bmw', 'married': True},
 {'name': 'Ana', 'age': 25, 'car': 'i10', 'married': False}]

In [12]:
lis.sort(key = lambda x: x['name'])
lis

[{'name': 'Ana', 'age': 25, 'car': 'i10', 'married': False},
 {'name': 'Pranav', 'age': 32, 'car': 'bmw', 'married': True},
 {'name': 'Preeti', 'age': 23, 'car': 'maruti', 'married': True},
 {'name': 'Tinku', 'age': 22, 'car': 'alto', 'married': False}]

In [13]:
st = ["Amar", "Akbar", "Anthony"]
st.append('kiru')

In [14]:
st.pop()

'kiru'

In [23]:
st = 'Today is saturday please practice python'
st = st.split()

In [24]:
#st = 'Today is saturday please practice python'
N = 3
def get_list(st, N):
    for i in range(0, len(st), N):
        yield(st[i:i+N])
g = get_list(st,N)
list(g)

[['Today', 'is', 'saturday'], ['please', 'practice', 'python']]

In [42]:
def find_large(li, n):
    max_list = list()
    
    for i in range(0, n):
        max_n = li[0]
        for i in range(1, len(li)):
            if(li[i] > max_n):
                max_n = li[i]
        max_list.append(max_n)
        print(max_n)
        li.remove(max_n)
        print(li)
    return(max_list)

In [34]:
x = [1,2,6,8,3,99]
x.sort(reverse = True)
x[0:3]

[99, 8, 6]

In [43]:
a = find_large([1,2,6,8,3,99], 3)
print(a)

99
[1, 2, 6, 8, 3]
8
[1, 2, 6, 3]
6
[1, 2, 3]
[99, 8, 6]

In [46]:
from itertools import permutations

st = 'abc'

perm_list = permutations(st)
li = []
for item in list(perm_list):
    li.append(''.join(item))
    
li

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [48]:
list1 = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]

max_sum = sum(list1[0])
for item in list1:
    if(max_sum < sum(item)):
        max_sum = sum(item)
print(max_sum)

33

In [50]:
li = tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),  
          ('krishna', 'akbar', '45'), ('',''),()] 

[t for t in li if t]

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [51]:
patterns = ['ape', 'apple', 'peach', 'puppy']
from difflib import get_close_matches
get_close_matches('appe', patterns)

['apple', 'ape']

In [68]:
def find_rep(li):
    new_li = list()
    
    for i in range(0, len(li)):
        if((li[i] in li[i+1:]) & (li[i] not in new_li)):
            new_li.append(li[i])
    return(new_li)

In [69]:
list1 = [10, 20, 30, 20, 20, 30, 40,  50, -20, 60, 60, -20, -20] 
find_rep(list1)

[20, 30, -20, 60]

In [70]:
# palindrome

In [71]:
def rotate(li,n):
    return(li[-n:] + li[:-n])

In [72]:
list_1 = [1, 2, 3, 4, 5, 6]
rotate(list_1,2)

[5, 6, 1, 2, 3, 4]

In [74]:
list_1 = [1, 2, 3, 4, 5, 6]
print(list_1[0::2])
print(list_1[1::2])

[1, 3, 5]
[2, 4, 6]

In [75]:
list1 = [1, 2, 3, 4, 5, 6] 
list2 = [4, 5, 6, 7, 8]
set(list1).difference(list2)

{1, 2, 3}

In [77]:
# cumsum
list_1 = [1, 2, 3, 4, 5, 6]
new_li = list()

for i in range(0, len(list_1)):
    new_li.append(sum(list_1[:i+1]))
print(new_li)

[1, 3, 6, 10, 15, 21]

In [78]:
# .tolist()

In [79]:
sub_li =[['rishav', 10], ['akash', 5], ['ram', 20], ['gaurav', 15]] 
from operator import itemgetter

sorted(sub_li, key = itemgetter(1))

[['akash', 5], ['rishav', 10], ['gaurav', 15], ['ram', 20]]

In [87]:
l1 = [3,4,5,6,7]
l1.append(4)
print(l1)

[3, 4, 5, 6, 7, 4]

In [90]:
l1.insert(2, 9)
l1

[3, 4, 9, 6, 7, 4]

In [92]:
l1.count(3)

1

In [93]:
# remove duplicate from string
s = 'hello'
from collections import OrderedDict
''.join(OrderedDict.fromkeys(s))

'helo'

In [96]:
ip = '255.024.01.01'
ip.split('.')
'.'.join([str(int(i)) for i in ip.split('.')])

'255.24.1.1'

In [103]:
str1 = "Write a Java program to sort an array of given integers using Quick sort Algorithm."
l = str1.split(' ')
length = [len(i) for i in l]
ind = length.index(max(length))
l[ind]

'Algorithm.'

In [104]:
l = str1.split(' ')
length = [len(i) for i in l]
ind = length.index(min(length))
l[ind]

'a'

In [109]:
l1 = [1, 3, 5, 7, 9, 10]
l1[-3:]

[7, 9, 10]

In [113]:
str1 = "geeks for geeks"
from collections import Counter

c1 = Counter(str1)
lis = []
for k,v in c1.items():
    if(v==1):
        lis.append(k)
print(''.join(lis))

for

In [118]:
my_list = ["geeks", "geeg", "keek", "practice", "aa"]
list(filter(lambda x: x==''.join(reversed(x)), my_list))

['geeg', 'keek', 'aa']