In [1]:
# fib
def fib(n):
    a = 0
    b = 1
    li = []
    li.append(a)
    if(n==1):
        return(li)
    li.append(b)
    if(n==2):
        return(li)
    for i in range(2,n):
        c = a + b
        li.append(c)
        a = b
        b = c
    return(li)

In [5]:
fib(2)

[0, 1]

In [6]:
# prime
def prime(n):
    if(n==1):
        return('prime')
    for i in range(2,n):
        if(n%i==0):
            return('not prime')
    return('prime')

In [11]:
prime(19)

'prime'

In [14]:
li = 'abba'
(li == li[::-1])

True

In [15]:
list1 = ["1", "4", "0", "6", "9"]
list1 = [int(i) for i in list1]
list1.sort()
list1

[0, 1, 4, 6, 9]

In [20]:
import pandas as pd
import numpy as np

In [21]:
# Create an example dataframe
data = {'Platoon': ['A','A','A','A','A','A','B','B','B','B','B','C','C','C','C','C'],
       'Casualties': [1,4,5,7,5,5,6,1,4,5,6,7,4,6,4,6]}

In [22]:
df = pd.DataFrame(data)

In [26]:
df.groupby(['Platoon'])['Casualties'].apply(lambda x: x.rolling(window = 2, center = False).mean())

0     NaN
1     2.5
2     4.5
3     6.0
4     6.0
5     5.0
6     NaN
7     3.5
8     2.5
9     4.5
10    5.5
11    NaN
12    5.5
13    5.0
14    5.0
15    5.0
Name: Casualties, dtype: float64

In [27]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [28]:
df = pd.DataFrame(raw_data)

In [29]:
df.groupby(['regiment'])['preTestScore'].mean()

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

In [30]:
bins = [0,25,50,75,100]
group_name = ['low', 'ok', 'good', 'great']

In [33]:
df['new_label'] = pd.cut(df['preTestScore'], bins = bins, labels = group_name)

In [34]:
# df.drop(['col1'], axis = 1)

apply = df.col
map = df.row
applymap = df

In [35]:
# Create a dataframe with a single column of strings
data = {'raw': ['Arizona 1 2014-12-23       3242.0',
                'Iowa 1 2010-02-23       3453.7',
                'Oregon 0 2014-06-20       2123.0',
                'Maryland 0 2014-03-14       1123.6',
                'Florida 1 2013-01-15       2134.0',
                'Georgia 0 2012-07-14       2345.6']}
df = pd.DataFrame(data, columns = ['raw'])

In [44]:
df.raw.str.extract('(\d)', expand = True)
df.raw.str.extract('(....-..-..)', expand = True)
df.raw.str.extract('([A-Z]\w{0,})', expand = True).head()

          0
0   Arizona
1      Iowa
2    Oregon
3  Maryland
4   Florida

In [47]:
# pd.get_dummies(df['col'])
# pd.concat([df, dummy], axis = 1)
# df.merge(dummies, on = df.index)
# df.join(df1)
# pd.to_datetime(df['col'])
# df.set_index([''], axis = 1)
# pd.crosstab(col1, col2)

In [48]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}

In [49]:
df1 = pd.DataFrame(data)

In [50]:
df1

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [52]:
df1['elder'] = np.where(df1['age'] > 50, 'old', 'new')

In [53]:
from collections import Counter
fruit_counter = Counter(['Apple', 'Apple', 'Apple', 'Banana', 'Pear', 'Pineapple'])
c = Counter(fruit_counter)

In [54]:
c

Counter({'Apple': 3, 'Banana': 1, 'Pear': 1, 'Pineapple': 1})

In [57]:
c.update(['Pear'])
c

Counter({'Apple': 3, 'Banana': 3, 'Pear': 2, 'Pineapple': 1})

In [58]:
c.most_common(3)

[('Apple', 3), ('Banana', 3), ('Pear', 2)]

In [59]:
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
from operator import itemgetter
sorted(d.items(), key = itemgetter(1))

[(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]

In [61]:
dict =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
list(map(len, dict.values()))

[3, 2]

In [64]:
dict1 = {'d': 10, 'b': 8} 
dict2 = {'d': 6, 'c': 4} 
dict1.update(dict2)
dict1

{'d': 6, 'b': 8, 'c': 4}

In [66]:
from collections import Counter

s = 'Geeks for Geeks'

C = Counter(s)

''.join([k for k,v in C.items() if v > 1])

'Geks '

In [67]:
#df.drop_duplicate(['col1'], keep = 'last')
# df.drop(df.index[[2,3]])
# df.rename({'a': 'A', 'b': 'B'})
# tags.rename(columns = lambda x: 'tag_' + str(x), inplace = True)
# df.swaplevel('index2', 'index1')
# df.sum(level = 'ind1')

In [14]:
def newton_sqrt(num, iters = 520):
    
    a = float(num)
    
    for i in range(iters):
        num = 0.5 * (num + (a/num))
    return(num)

In [17]:
newton_sqrt(27)

5.196152422706632