In [1]:
# Sort list of dictionaries using itemgetter
lis = [{'name': 'Ana', 'age': 25, 'car': 'i10', 'married': False},
      {'name': 'Preeti', 'age': 23, 'car': 'maruti', 'married': True},
      {'name': 'Tinku', 'age': 22, 'car': 'alto', 'married': False},
      {'name': 'Pranav', 'age': 32, 'car': 'bmw', 'married': True}]

In [3]:
from operator import itemgetter
sorted(lis, key = itemgetter('age'))

[{'name': 'Tinku', 'age': 22, 'car': 'alto', 'married': False},
 {'name': 'Preeti', 'age': 23, 'car': 'maruti', 'married': True},
 {'name': 'Ana', 'age': 25, 'car': 'i10', 'married': False},
 {'name': 'Pranav', 'age': 32, 'car': 'bmw', 'married': True}]

In [4]:
from operator import itemgetter
sorted(lis, key = itemgetter('married'))

[{'name': 'Ana', 'age': 25, 'car': 'i10', 'married': False},
 {'name': 'Tinku', 'age': 22, 'car': 'alto', 'married': False},
 {'name': 'Preeti', 'age': 23, 'car': 'maruti', 'married': True},
 {'name': 'Pranav', 'age': 32, 'car': 'bmw', 'married': True}]

In [5]:
sorted(lis, key = itemgetter('age', 'name'), reverse = True)

[{'name': 'Pranav', 'age': 32, 'car': 'bmw', 'married': True},
 {'name': 'Ana', 'age': 25, 'car': 'i10', 'married': False},
 {'name': 'Preeti', 'age': 23, 'car': 'maruti', 'married': True},
 {'name': 'Tinku', 'age': 22, 'car': 'alto', 'married': False}]

In [8]:
lis.sort(key = lambda x: x['age'])
lis

[{'name': 'Tinku', 'age': 22, 'car': 'alto', 'married': False},
 {'name': 'Preeti', 'age': 23, 'car': 'maruti', 'married': True},
 {'name': 'Ana', 'age': 25, 'car': 'i10', 'married': False},
 {'name': 'Pranav', 'age': 32, 'car': 'bmw', 'married': True}]

In [9]:
# Use list as stack and queue
st = ["Amar", "Akbar", "Anthony"]
print(st)
st.append('Kiru')
print(st)
st.append('Mary')
print(st)
st.pop()
print(st)
st.pop()
print(st)

['Amar', 'Akbar', 'Anthony']
['Amar', 'Akbar', 'Anthony', 'Kiru']
['Amar', 'Akbar', 'Anthony', 'Kiru', 'Mary']
['Amar', 'Akbar', 'Anthony', 'Kiru']
['Amar', 'Akbar', 'Anthony']

In [12]:
from collections import deque
qu = deque(["Amar", "Akbar", "Anthony"])
print(qu)
qu.append('Kiru')
print(qu)
qu.append('Mary')
print(qu)
qu.popleft()
print(qu)

deque(['Amar', 'Akbar', 'Anthony'])
deque(['Amar', 'Akbar', 'Anthony', 'Kiru'])
deque(['Amar', 'Akbar', 'Anthony', 'Kiru', 'Mary'])
deque(['Akbar', 'Anthony', 'Kiru', 'Mary'])

In [14]:
# Convert string to list
st = 'Today is saturday please practice python'
lis = st.split(' ')
print(lis)

['Today', 'is', 'saturday', 'please', 'practice', 'python']

In [15]:
# Divide list to chunks of size N
def chunk(li, N):
    for i in range(0, len(li), N):
        yield(li[i:i+N])

In [18]:
print(list(chunk(lis, 2)))

[['Today', 'is'], ['saturday', 'please'], ['practice', 'python']]

In [26]:
# Find N largest elements in list
def find_large(li, n):
    max_li = list()
    for j in range(0, n):
        max_element = li[0]
        for i in range(1, len(li)):
            if(max_element < li[i]):
                max_element = li[i]
                
        li.remove(max_element)
        max_li.append(max_element)
    return(max_li)

In [28]:
find_large([1,2,6,8,3,99], 3)

[99, 8, 6]

In [35]:
# Find permutation of given string
from itertools import permutations

str1 = 'abc'
perm_list = permutations(str1)
li = []
for item in list(perm_list):
    li.append(''.join(item))
print(li)

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [38]:
# Find max sum if list from list of list
list1 = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]

max_sum = sum(list1[0])
for item in list1:
    if(sum(item) > max_sum):
        max_sum = sum(item)
print(max_sum)

33

In [40]:
# Remove empty tuples from list of tuples
li = tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),  
          ('krishna', 'akbar', '45'), ('',''),()] 

[t for t in li if t]

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [42]:
# Find close matches of input string
from difflib import get_close_matches
patterns = ['ape', 'apple', 'peach', 'puppy']
get_close_matches('appe', patterns)

['apple', 'ape']

In [45]:
# Find elements which are repeated in the list
def find_rep(li):
    new_li = list()
    
    for i in range(0, len(li)):
        if((li[i] in li[i+1:]) & (li[i] not in new_li)):
            new_li.append(li[i])
    return(new_li)

In [46]:
list1 = [10, 20, 30, 20, 20, 30, 40,  50, -20, 60, 60, -20, -20] 
find_rep(list1)

[20, 30, -20, 60]

In [59]:
# Find palindrome numbers from the list
def find_pal(li):
    new_li = list()
    for item in li:
        x = item
        rev = 0
        while(x > 0):
            a = x % 10
            rev = (rev * 10) + a
            x = x // 10
        if(rev == item):
            new_li.append(item)
    
    return(new_li)

In [60]:
list_a = [10, 121, 133, 155, 141, 252] 
find_pal(list_a)

[121, 141, 252]

In [64]:
# Given a list, right rotate the list by n position.
def rotate_list(li, n):
    return(li[-n:] + li[0:-n])


list_1 = [1, 2, 3, 4, 5, 6]
print(rotate_list(list_1, 2))
print(rotate_list(list_1, 3))

[5, 6, 1, 2, 3, 4]
[4, 5, 6, 1, 2, 3]

In [67]:
# Split even and odd elements of list to two lists
list_1 = [1, 2, 3, 4, 5, 6]
print(list_1[0::2])
print(list_1[1::2])

[1, 3, 5]
[2, 4, 6]

In [69]:
# Find missing values in both lists
list1 = [1, 2, 3, 4, 5, 6] 
list2 = [4, 5, 6, 7, 8]

print("missing in list 2:\t", set(list1).difference(list2))
print("missing in list 1:\t", set(list2).difference(list1))

missing in list 2:	 {1, 2, 3}
missing in list 1:	 {7, 8}

In [71]:
# Find cumulative sum of list
list_1 = [1, 2, 3, 4, 5, 6]
new_li = list()
for i in range(0, len(list_1)):
    new_li.append(sum(list_1[:i+1]))
new_li

[1, 3, 6, 10, 15, 21]

In [73]:
# Convert an array to list
from array import *
arr1 = array('i', [45,55,34])
arr1.tolist()

[45, 55, 34]

In [76]:
# Sort according to second element in list of list
sub_li =[['rishav', 10], ['akash', 5], ['ram', 20], ['gaurav', 15]] 

# tech 1:
print(sorted(sub_li, key = lambda x: x[1]))

# tech 2:
sub_li.sort(key = lambda x: x[1])
print(sub_li)

[['akash', 5], ['rishav', 10], ['gaurav', 15], ['ram', 20]]
[['akash', 5], ['rishav', 10], ['gaurav', 15], ['ram', 20]]