In [1]:
import numpy as np
import pandas as pd

#### Convert series to frame 
series_name.to_frame() <br>
#### Convert multiple series to dataframe
pd.DataFrame({"ser1": ser1, "ser2": ser2}) <br>
#### Set index name to series
ser_name.name = 'index name' <br>
#### Find elements in series 1 not in series 2 
ser1[~ser1.isin(ser2)] <br>
#### Find elements that are unique to both series
union = pd.Series(np.union1d(ser1, ser2)) <br>
inter = pd.Series(np.intersect1d(ser1, ser2)) <br>
union[~union.isin(intersect)]
#### Find the percentile of series
np.percentile(ser, q = [0,25,50,75,100])
#### Keep top two values and replace everything with 'other'
ser[~ser.isin(ser.value_counts().index[:2]])] = "other"
#### qcut based on percentage
pd.qcut(series_name, q = [0,.25,0.50, 0.75, 1.0], labels = [])
#### COnvert series to df of desired shape
pd.DataFrame(ser.values.reshape(r,c))
#### find the index of any element in series which are multiples of 3
np.argwhere(ser % 3 == 0)

In [5]:
#### Get position of elements in series 2 from series 1
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [8]:
# difference between successive numbers
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff())
print(ser.diff().diff())

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64
0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [10]:
# covert string to date
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse

ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [12]:
# fetch date characteristics
from dateutil.parser import parse
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_time = ser.map(lambda x: parse(x))
ser_time.dt.day.tolist()

[1, 2, 3, 4, 5, 6]

In [13]:
ser_time.dt.weekofyear.tolist()

[53, 5, 9, 14, 19, 23]

In [14]:
ser_time.dt.dayofyear.tolist()

[1, 33, 63, 94, 125, 157]

In [15]:
ser_time.dt.weekday_name.tolist()

['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']