In [1]:
# Write a Python program to sort (ascending and descending) a dictionary by value.
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

import operator

In [2]:
sorted(d.items(), key = operator.itemgetter(1))

[(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]

In [3]:
sorted(d.items(), key = operator.itemgetter(1), reverse = True)

[(3, 4), (4, 3), (1, 2), (2, 1), (0, 0)]

In [4]:
# Write a Python program to add a key to a dictionary.
d

{1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

In [5]:
d.update({'name': "hey"})

In [6]:
d

{1: 2, 3: 4, 4: 3, 2: 1, 0: 0, 'name': 'hey'}

In [7]:
# Write a Python program to concatenate following dictionaries to create a new one.
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic1.update(dic2)

In [10]:
dic1

{1: 10, 2: 20, 3: 30, 4: 40}

In [12]:
# Write a Python program to check if a given key already exists in a dictionary.
if 1 in dic1:
    print("present")

present

In [15]:
for c, (x, y) in enumerate(dic1.items(), 1):
    print("key:\t", x, "value\t", y, "count\t", c)

key:	 1 value	 10 count	 1
key:	 2 value	 20 count	 2
key:	 3 value	 30 count	 3
key:	 4 value	 40 count	 4

In [18]:
# Write a Python program to print a dictionary line by line.

students = {'Aex':{'class':'V',
        'rolld_id':2},
        'Puja':{'class':'V',
        'roll_id':3}}

for a in students:
    print(a)
    for b in students[a]:
        print(b, students[a][b])

Aex
class V
rolld_id 2
Puja
class V
roll_id 3

In [23]:
# Write a Python program to check multiple keys exists in a dictionary.

student = {
  'name': 'Alex',
  'class': 'V',
  'roll_id': '2'
}

print(student.keys() >= {'class', 'name'})

True

In [1]:
# Write a Python program to count number of items in a dictionary value that is a list.
dict =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}

In [3]:
list(map(len, dict.values()))

[3, 2]

In [25]:
print(sum(map(len, dict.values())))

5

In [29]:
for x in dict.values():
    print(len(x))

3
2

In [31]:
# Write a Python program to sort Counter by value.

d = {'Math':81, 'Physics':83, 'Chemistry':87}

In [32]:
sorted(d.items(), key = operator.itemgetter(0))

[('Chemistry', 87), ('Math', 81), ('Physics', 83)]

In [34]:
print(list(enumerate(d,1)))

[(1, 'Math'), (2, 'Physics'), (3, 'Chemistry')]

In [37]:
## Counters
from collections import Counter
my_list = ['a', 'b', 'c', 'c', 'a', 'd', 'b', 'e', 'a']

a = Counter(my_list)
print(a)

new_list = ['a', 'b', 'c']
b = Counter(new_list)
print(b)

Counter({'a': 3, 'b': 2, 'c': 2, 'd': 1, 'e': 1})
Counter({'a': 1, 'b': 1, 'c': 1})

In [38]:
a.most_common(2)

[('a', 3), ('b', 2)]

In [40]:
list(a.elements())

['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'e']

In [46]:
a-b

Counter({'a': 1, 'd': 4, 'e': 4})

In [4]:
# Write a Python program to create a dictionary from two lists without losing duplicate values.

class_list = ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
id_list = [1, 2, 2, 3]
{k:v for k,v in zip(class_list, id_list)}

{'Class-V': 1, 'Class-VI': 2, 'Class-VII': 2, 'Class-VIII': 3}

In [6]:
list(zip(class_list, id_list))

[('Class-V', 1), ('Class-VI', 2), ('Class-VII', 2), ('Class-VIII', 3)]

In [9]:
import pandas as pd
pd.DataFrame(list(zip(class_list, id_list)))

            0  1
0     Class-V  1
1    Class-VI  2
2   Class-VII  2
3  Class-VIII  3

In [52]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
{k:v for k,v in zip(keys,values)}

{'a': 1, 'b': 2, 'c': 3}

In [56]:
# Write a Python program to replace dictionary values with their average.
student_details= [
  {'id' : 1, 'subject' : 'math', 'V' : 70, 'VI' : 82},
  {'id' : 2, 'subject' : 'math', 'V' : 73, 'VI' : 74},
  {'id' : 3, 'subject' : 'math', 'V' : 75, 'VI' : 86}
]

for x in student_details:
    x['new'] = (x['V'] + x['VI'])/2
    x.pop('V')
    x.pop('VI')

In [57]:
student_details

[{'id': 1, 'subject': 'math', 'new': 76.0},
 {'id': 2, 'subject': 'math', 'new': 73.5},
 {'id': 3, 'subject': 'math', 'new': 80.5}]

In [58]:
# Write a Python program to match key values in two dictionaries.


x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}

for k,v in (set(x.items()) & set(y.items())):
    print(k,v, "\npresent")

key1 1
present

In [63]:
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']

x = {k:v for k, v in zip(keys, values)}
sorted(x.items(), key = operator.itemgetter(1))

[('blue', '#0000FF'), ('green', '#008000'), ('red', '#FF0000')]

In [64]:
sorted(x)

['blue', 'green', 'red']

In [65]:
# Write a Python program to get the maximum and minimum value in a dictionary.

my_dict = {'x':500, 'y':5874, 'z': 560}

max(my_dict.values())

5874

In [67]:
my_dict = {}

not bool(my_dict)

True

In [68]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

Counter(d1) + Counter(d2)

Counter({'a': 400, 'b': 400, 'c': 300, 'd': 400})

In [70]:
# Write a Python program to print all unique values in a dictionary.

L = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

set(x for d in L for x in d.values())

{'S001', 'S002', 'S005', 'S007', 'S009'}

In [85]:
# Write a Python program to find the highest 3 values in a dictionary.

my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}

In [87]:
list(sorted(my_dict.values())[-3:])

[560, 5874, 5874]

In [88]:
l = [3,7,2,9]
l.sort()

In [89]:
l

[2, 3, 7, 9]

In [90]:
l.sort(reverse = True)

In [91]:
l

[9, 7, 3, 2]

In [96]:
# Write a Python program to combine values in python list of dictionaries.

item_list = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
result = Counter()

In [98]:
str1 = 'w3resource' 
Counter(str1)

Counter({'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1})

In [100]:
# Write a Python program to count the values associated with key in a dictionary.


student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]

print(sum(d['success'] for d in student))

2

In [101]:
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  

list(sorted(my_dict.values()))[-3:]

[560, 5874, 5874]